build/
out/
data/
arm9/build/
arm7/build/
bootloader/build/
bootloaderAlt/build/
cardengine_arm7/build/
*.elf
*.nds
*.dsi
*.DSI
*.srl
*.SRL
*.SRLDR
*.srldr
*.NDS
*.sav
*.SAV
*.tad
*.TAD
*.ZIP
*.zip
*.o
*.py
*.json
*.dll
*.cia
*.exe
*.pdb
convert_dsi.sh
convert_3ds.sh
settings.sh
__pycache__/
run_reset_save.sh
make_and_test.sh
convert_dsi.sh

