build/
out/
data/
arm9/build/
arm7/build/
bootloader/build/
bootloaderAlt/build/
cardengine_arm7/build/
*.elf
*.nds
*.dsi
*.DSI
*.srl
*.SRL
*.SRLDR
*.srldr
*.NDS
*.sav
*.SAV
*.tad
*.TAD
*.o
*.py
settings.sh
__pycache__/
run_reset_save.sh

